{% extends 'base_administracao.html' %}
{% load omFilters %}



{% block conteudo %}

    <table class="table table-striped table-listagem-produto">
        <tr>
            <th scope="col" style="width:10%">N pedido</th>
            <th scope="col" style="width:30%">pedido realizado</th>
            <th scope="col">Total</th>
            <th scope="col">cliente</th>
            <th scope="col" style="text-align: center">Detalhes</th>
        </tr>
        {% for pedido in object_list %}
            <tr>
                <td>{{ pedido.id|formata_numero_pedido }}</td>
                <td>{{ pedido.data|formata_data }}</td>
                <td>{{ pedido.total|formata_preco }}</td>
                <td>{{ pedido.cliente.pk|formata_numero_cliente}}                </td>
                <td>
                    <form action="{% url 'pedido:resumo' pedido.id %}" method="get">
                        <input type="submit" value="detalhe">
                    </form>

                </td>


            </tr>
        {% endfor %}


    </table>



{% endblock %}