<!DOCTYPE html>
<html lang="zxx">

<head>
    {% load static %}

    <title>{% block titulo %} Farma Pet  {% endblock titulo %}</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
    <!-- Font-Awesome-Icons-CSS -->


</head>

<div id="login" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-title">
                <hr>
                <h5 style="font-size: 30px; color: #050505; text-align: center ">Farma Pet </h5>
                <hr>

            </div>

            <div class="modal-body">
                <div class="messages" style="color: red; text-align: center">
                    {% for message in messages %}
                        <a{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
                    {% endfor %}
                </div>
                <form action="{% url 'usuario:cadastro_cliente' %}" method="post" id="form_login">
                    {% csrf_token %}


                    <div class="form-group row">
                        <label for="nome" class="col-4 col-form-label">Nome completo</label>
                        <div class="col-8">
                            <input id="nome" name="nome" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cpf" class="col-4 col-form-label">CPF</label>
                        <div class="col-8">
                            <input id="cpf" name="cpf" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="celular" class="col-4 col-form-label">Cel.</label>
                        <div class="col-8">
                            <input id="celular" name="celular" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="login">Login</label>
                        <div class="col-4">
                            <input id="login" name="login" type="text" class="form-control">
                        </div>
                    </div>

                   <div class="form-group row">
                        <label for="email" class="col-4 col-form-label">Email</label>
                        <div class="col-8">
                            <input id="email" name="email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="senha">Senha</label>
                        <div class="col-6">
                            <input id="senha" name="senha" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="right-w3l">
                        <input type="submit" class="form-control" value="Proximo">
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
